.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  padding: 24px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);

  .link{
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    border-bottom: 2px solid rgba(14, 99, 241, 0);
    transition: all 0.4s linear;

    &.active{
      color: #0E63F1;
      border-bottom: 2px solid #0E63F1;
      &:hover{
        color: #0E63F1;
      }
    }

    &:hover{
      color: rgba(0, 0, 0, 0.58);
    }
  }
}